In [1]:
# Kütüphaneler
import pandas as pd
from elasticsearch import Elasticsearch, helpers

In [2]:
# Elasticsearch sunucusuna bağlanan Elasticsearch sınıfından bir nesne yaratalım
es = Elasticsearch("elasticsearch1.impektra.com:9200")

In [5]:
mall_customers = pd.read_csv("https://raw.githubusercontent.com/erkansirin78/datasets/master/Mall_Customers.csv")
mall_customers.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   19         15000             39
1           2    Male   21         15000             81
2           3  Female   20         16000              6
3           4  Female   23         16000             77
4           5  Female   31         17000             40

In [14]:
def dataframe_to_es():
    i = 0
    for index, line in mall_customers.iterrows():
        yield {
            "_index": "mallcustomers",
            "_type": "document",
            "_id":i,
            "doc": {
                "CustomerID": line[0],
                "Gender": line[1],
                "Age": line[2],
                "AnnualIncome": line[3],
                "SpendingScore": line[4]
            }
        }
        i += 1

In [15]:
# Eğer varsa indeksi silelim
if es.indices.exists('mallcustomers'):
    es.indices.delete('mallcustomers')
    
bulk(es, dataframe_to_es())

(200, [])

In [16]:
# Şimdi elasticsearch'e yazdığımız veriye ulaşalım.

In [17]:
res = es.get(index="mallcustomers", doc_type="document", id=0)
res

{'_index': 'mallcustomers',
 '_type': 'document',
 '_id': '0',
 '_version': 1,
 '_seq_no': 0,
 '_primary_term': 1,
 'found': True,
 '_source': {'doc': {'CustomerID': 1,
   'Gender': 'Male',
   'Age': 19,
   'AnnualIncome': 15000,
   'SpendingScore': 39}}}