In [17]:
import pymongo
# mongodb bağlantı
myclient = pymongo.MongoClient("mongodb://hpe.impektra.com:27017")

In [18]:
# veri tabanlarını listele
print(myclient.list_database_names())

['admin', 'config', 'impektra', 'local']

In [19]:
import pandas as pd
artists = [
  { "name": "Filiz AKIN", "address": "Bebek İstanbul"},
  { "name": "Sadri ALIŞIK", "address": "Nişantaşı İstanbul"},
  { "name": "Behzat Ç", "address": "Çankaya Ankara"},
  { "name": "Ayhan IŞIK", "address": "Sultanbeyli İstanbul"},
  { "name": "Cüneyt ARKIN", "address": "Odunpazarı Eskişehir"}
]

In [20]:
df = pd.DataFrame(artists)

In [21]:
df.head()

           name               address
0    Filiz AKIN        Bebek İstanbul
1  Sadri ALIŞIK    Nişantaşı İstanbul
2      Behzat Ç        Çankaya Ankara
3    Ayhan IŞIK  Sultanbeyli İstanbul
4  Cüneyt ARKIN  Odunpazarı Eskişehir

In [22]:
# pandas dataframe'i json formatına çevir
import json
records = json.loads(df.T.to_json()).values()

In [23]:
import pymongo

# mongodb bağlantı
myclient = pymongo.MongoClient("mongodb://docker:27017")

In [24]:
# bir veri tabanı seç veya yoksa oluştur.
# Not: İçine bir şey konulmadıkça mongodb'de veri tabanı gerçekten oluşmaz.
db = myclient["mydatabase"]

In [25]:
# Bir collection oluştur.
my_collection = db["artists"]

In [26]:
#json formatına çevrilen dataframe'i mongodb'ye yaz
x = my_collection.insert_many(records)

In [27]:
y = my_collection.find_one()
print(y)

{'_id': ObjectId('5da078ce688e42fcb888bd9d'), 'name': 'Filiz AKIN', 'address': 'Bebek İstanbul'}